<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jspo.hotel.dao.HotelDao">
    <!--    호텔추가-->
    <insert id="insertHotel" parameterType="HotelDto">
        insert into hotel (ht_name, ht_address, ht_img, ht_phone)
        values (#{htName}, #{htAddress}, #{htImg}, #{htPhone});
    </insert>

    <!--  호텔리스트 -->
    <select id="selectHotel" resultType="HotelDto">
        select * from hotel;
    </select>

    <select id="selectHotelByHtId" parameterType="Integer" resultType="HotelDto">
        select * from hotel where ht_id = #{htId};
    </select>

    <update id="updateHotel" parameterType="HotelDto">
        UPDATE hotel
        set ht_name = #{htName},
            ht_address = #{htAddress},
            ht_img = #{htImg},
            ht_phone = #{htPhone}
        where ht_id = #{htId};
    </update>

    <delete id="deleteHotel" parameterType="int">
        DELETE FROM hotel
        where ht_id = #{htId}
    </delete>
</mapper>