<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jspo.member.dao.MemberDao">

<!--    회원가입-->
    <insert id="insertMember" parameterType="MemberDto">
        insert into member (email, pwd, name, birth, phone)
        values (#{email}, #{pwd}, #{name}, #{birth}, #{phone});
    </insert>

<!--    회원조회-->
    <select id="selectMember" parameterType="MemberDto" resultType="MemberDto">
        select * from member where email = #{email};
    </select>

    <select id="selectMemberByEmail" parameterType="String" resultType="MemberDto">
        select * from member where email = #{email};
    </select>

<!--    이메일 중복확인-->
    <select id="emailCheck" parameterType="String" resultType="Integer">
        select * from member where email = #{email};
    </select>

<!--로그인-->
    <select id="login" parameterType="MemberDto" resultType="MemberDto">
        SELECT * FROM member
        WHERE email = #{email} AND pwd = #{pwd};
    </select>

<!--    전화번호 중복 조회-->
    <select id="memberPhoneCount" parameterType="String" resultType="Integer">
        select count(*) from member where phone = #{phone};
    </select>

<!--    비밀번호 변경-->
    <update id="updatePwd" parameterType="Map">
        update member set pwd = #{pwd} where email = #{email};
    </update>

<!--    핸드폰 번호 변경-->
    <update id="updatePhone" parameterType="Map">
        update member set phone = #{phone} where email = #{email};
    </update>

<!--    회원 탈퇴-->
    <delete id="deleteMember" parameterType="String">
        delete from member where email = #{email};
    </delete>

    <select id="selectMemberByPhone" parameterType="String" resultType="MemberDto">
        select * from member where phone = #{phone};
    </select>
</mapper>