<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<body>
<th:block th:fragment="headerFragment">


    <!--    justify-content-between-->
    <header>
    <nav class="navbar navbar-expand-lg shadow-lg sticky-top ">
        <div class="header_container"><a href="/" class="navbar-brand align-middle">
           <div class="header_img">
            <img id="header_logo" src="/imgs/logos/jspo-logo-white3.png" alt="logo"  >
           </div>

        </a>
        <div class="header_nav_menu">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            홈
                        </a>
                    </li>

                    <li class="nav-item">

            <span class="nav-item" id="login_logout">
              <a th:if="${session.email == null}" href="/login" class="nav-link">로그인</a>
              <a th:if="${session.email != null}" href="/logout" class="nav-link">로그아웃</a>

            </span>
                    </li>

                    <li class="nav-item">
                        <a href="/join" class="nav-link" th:if="${session.email == null}">
                            회원가입
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/my" class="nav-link">
                            마이페이지
                        </a>
                    </li>
                    <li class="nav-item dropdown" th:if="${'admin@jspo.com'.equals(session.email)}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            관리자
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item text-dark" href="/admin/hotellist">호텔 관리</a></li>
                            <li><a class="dropdown-item text-dark" href="/admin/roomlist">객실 관리</a></li>
                            <li><a class="dropdown-item text-dark" href="/admin/image">사진 관리</a></li>
                            <li><a class="dropdown-item text-dark" href="/hotel/reg">호텔 등록</a></li>
                            <li><a class="dropdown-item text-dark" href="/image/reg">사진 등록</a></li>
                        </ul>
                    </li>

<!--                    <li class="nav-item" th:if="${'admin@jspo.com'.equals(session.email)}">-->
<!--                        <a href="/admin/hotellist" class="nav-link">-->
<!--                            관리자-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    삭제요망-->
                </ul>
            </div>
        </div>
        </div>
    </nav>

    </header>
</th:block>
</body>

</html>

