*{
   box-sizing: border-box;
}

.container{
    height: 85vh;
    margin-top: 2rem;
}

header .navbar{
    width: 100vw;
    height: 10vh;
    background-color: #6f2cf4;

    display: inline-block;
}

header .navbar a{
    color: white;
    font-size: 1.2rem;
}

header .navbar .header_container{
    display: flex;
    align-items: center;
    justify-content: center;

}


header .navbar .header_container .collapse .navbar-nav li{

    margin-right: 20px;
}

header .navbar .header_container .collapse .navbar-nav li:nth-child(5){
    margin-right: 50px;
}


#header_logo{
    margin-left: 2rem;
}