
.login_wrap{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.login {
    width: 360px;

    padding: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px  1px  rgba(0, 0, 0, 0.2);

}

.login .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form{
    font-size: 20px;
}

.login form .form-group{
    margin-bottom: 12px;
}

.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
    
}
.login form .form-group ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}

.login form .form-group li{
    font-size: 11px;
    list-style: none;
    float: left;
    border-right: 1px solid #ebebeb;
    padding: 0 10px;
}

.login form .form-group li:nth-child(3){
    border : none;
}

.login form .form-group li a{
    text-decoration: none;
    color: black;
}

#findEmail {
    display: none;
    width: 400px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#findPwd {
    display: none;
    width: 400px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}


