.ready{
    width: 100vw;
    height: 429px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ready h1{

    font-size: 200px;
    font-weight: bolder;

}