*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container{
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 160px;
}

.title__titleLine{
    font-size: 24px;
    padding: 5px 0 16px;
    text-align: left;
    border-bottom: 3px solid black;

}

h3{
    margin: 0;

}

.profile__info{
    padding: 58px 0 0 ;
    width: 480px;
    height: 865px;
}

.info__group__title{
    font-size: 18px;
    margin: 0;
    text-align: left;
}

.info__unit{

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;



}
.unit__content{
    width: 100%;
    padding: 25px 0px 18px;
    border-bottom: 1px solid #ebebeb ;

}

.unit__content .div_change{
    display: flex;

}

.include_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    margin: 0px;
    color: #9a9998;
}

.desc{
    margin: 0px;
    color: #9a9998;
}

.changeBtn{
    width: 50px;
    height: 30px;
    background-color: white;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}

.info__person{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 58px 0 0 ;
}

.secession{
    margin-top: 40px;

}

.secession button{
    border: none;
    background-color: white;
    font-size: 12px;
    color: #9a9998;
    text-decoration: underline;
    padding: 0px;
}

.noneColor{
    color: black;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 268px;
    padding: 15px;
}

.closeBtn {
    display: block;
    width: 40px;
    margin: 0 auto;
    position: absolute;
    top: 5px;
    right: 0px;

}

.hidden {
    display: none;
}


.change__pass__title{
    margin: 0;
    font-size: 20px;
    color: black;
}

.title__margin{
    margin-top: 10px;
    font-size: 17px;
}

.change__input{
    border: 0;
    border-bottom: 1px solid #9a9998;
    height: 35px;
    width: 100%;

}

.hint{
    display: none;
    font-size: 12px;
    color: red;

}


.div__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.btn{
    width: 50px;
    height: 40px;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    margin-top: 5px;


}

.cancleBtn{
    background-color: white;
}

.applyBtn{
    background-color: #ebebeb;
    margin-left: 15px;
}


/*email_modal*/

.email__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email__modal .email__bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}


.email__modalBox {
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: #fff;
    width: 400px;
    height: 180px;
    padding: 15px;

}

.email__modal__hidden{
    display: none;
}


.change__email__title{
    color: black;
    font-size: 20px;
    margin: 0;
}

.newEmail__h5{

    margin : 10px 0 0;

}

.emailHint{
    color: red;
}

.email__cancleBtn{
    background-color: white;

}
.email__applyBtn{
    background-color: #ebebeb;
    margin-left: 10px;

}





/*secession_modal*/

.secession__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secession__modal .secession__bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}


.secession__modalBox {
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: #fff;
    width: 400px;
    height: 160px;
    padding: 15px;

}

.secession__modal__hidden{
    display: none;
}