*{
    box-sizing: border-box;
}

.wrap{
    width: 1929px;
    height: 1000px;
    padding: 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join__area{
    width: 400px;
    height: 900px;
    padding: 58px 0px 160px;

}

.join__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    padding: 0 0 42px;
    font-size: 32px;
    font-weight: bolder;
}



.input__box{
    width: 100%;
    height: 84px;
    padding: 10px 0 14px;
    margin: 0 0 5px;
    
    /* display: flex; */
/* /    flex-direction: column; */

}

.input__title{
    font-size: 13px;
}
.input__txt{
    width: 100%;
    padding: 9px 0px 8px;
    border: 0px;
    border-bottom: 1px solid #ebebeb;
    outline: none;

}

.emailbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reg__btn{
    width: 100%;
}
.reg{
    width: 100%;
    height: 52px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: #ebebeb;
    margin-top: 25px;

}

#valid_name{
    font-size: 10px;
    color: indianred;
    display: inline-block;
}

#valid_email{
    font-size: 10px;
    color: indianred;
    display: inline-block;
}

#valid_pwd{
    font-size: 10px;
    color: indianred;
    display: inline-block;
}

#valid_birth{
    font-size: 10px;
    color: indianred;
    display: inline-block;
}

#valid_phone{
    font-size: 10px;
    color: indianred;
    display: inline-block;
}

.email_ok{
    font-size: 10px;
    color: #4CAF50;
    display: none;
}

.email_already{
    font-size: 10px;
    color: indianred;
    display: none;
}

.pwd_ok{
    font-size: 10px;
    color: #4CAF50;
    display: none;
}

.pwd_duplicate{
    font-size: 10px;
    color: indianred;
    display: none;
}