

.reserved_hotel_img{
    margin-right: 30px;
    /*background-color: lemonchiffon;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imgs/hotels/hotel1.png");
    background-size: cover;
    width: 200px;
    height: 180px;
    border-radius: 15px;

}
#reserved_content{
    display: flex;
    flex-direction: row;
}
.reserved_hotel_info{
    display: flex;
    flex-direction: column;
}
.reserved_hotel_info p{
    margin: 0 0  2px 0;
}