
.reservation_Page_wrap{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.reservation {
    width: 360px;
    background-color: red;
    padding: 20px;
    border-radius: 12px;

    box-shadow: 5px 5px 10px  1px  rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 350px;
}



.reservation form{
    font-size: 20px;
}

.reservation form .form-group{
    margin-bottom: 12px;
}

.reservation form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;

}
.reservation form .form-group ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}

.reservation form .form-group li{
    font-size: 11px;
    list-style: none;
    float: left;
    border-right: 1px solid #ebebeb;
    padding: 0 10px;
}

.reservation form .form-group li:nth-child(3){
    border : none;
}

.reservation form .form-group li a{
    text-decoration: none;
    color: black;
}


