<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<head>
    <meta charset="UTF-8">
    <title>호텔 리스트</title>

</head>
<body>

<header>
    <h1> ADMIN 게시판</h1>
</header>




<div class="container" layout:fragment="content">
    <style>
        .oriImg {
            width: 300px;
            height: 300px;
        }

        td {
            text-align: center;
            vertical-align: middle;
        }
        th {
            text-align: center;
            vertical-align: middle;
        }
    </style>


    <nav class="navbar navbar-expand-lg bg-body-tertiary my-2 " >
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/hotellist">관리자 홈</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/hotellist">호텔 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/roomlist">객실 관리</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/image">사진 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hotel/reg">호텔 등록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/image/reg">사진 등록</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <th:block th:if="${hlist != null}">
        <table class="table">


            <tr class="text-center" >
<!--                <th>호텔이미지</th>-->
                <th>호텔이름</th>
                <th>주소</th>
                <th>가격</th>
                <th>수정여부</th>
            </tr>
            <tr th:each="hlist, i: ${hlist}" class="text-center">
                <form role="form">
                    <input type="text" hidden="hidden" name="htId" th:value="${hlist.htId}">
                    <td th:text="${hlist.htName}"></td>
                    <td th:text="${hlist.htAddress}"></td>
                    <td th:if="${pricelist[i.index]} != null"><span th:text="${#numbers.formatInteger(pricelist[i.index],3,'COMMA')}+원"></span></td>
                    <td th:if="${pricelist[i.index]} == null"><span th:text='0원'></span></td>
                    <td>
                        <button type="submit" class="btn btn-secondary hotelupdate">수정</button>
                        <button type="submit" class="btn btn-success roomcreate">객실등록</button>
                    </td>
                </form>
            </tr>
        </table>
    </th:block>

    <th:block th:if="${rlist != null}">
        <table class="table mt-3">

            <tr  class="text-center " >
                <th>호텔이름</th>
                <th>객실이미지</th>
                <th>객실이름</th>
                <th>객실가격</th>
                <th>수정여부</th>
            </tr>
            <tr th:each="rlist : ${rlist}" class="text-center">
                <form role="form">
                    <input type="text" class="" hidden="hidden" name="rId" th:value="${rlist.rId}">
                    <td th:name="hotelHtId" th:text="${rlist.htName}"></td>
                    <td><img th:src="${rlist.rImg}" width="500px" height="220px" class="oriImg mx-auto d-block" style="border-radius: 10px" ></td>
                    <td  th:name="rName" th:text="${rlist.rName}"></td>
                    <td  th:name="rPrice" th:text="${#numbers.formatInteger(rlist.rPrice,3,'COMMA')}+원"></td>
                    <td>

                        <button type="submit" class="btn btn-secondary roomupdate">수정</button>
                        <button type="submit" class="btn btn-danger roomdelete">삭제</button>
                    </td>
                </form>
            </tr>
        </table>
    </th:block>

    <th:block th:if="${ilist != null}">
        <table class="table mt-3">

            <tr  class="text-center " >
                <th>호텔이름</th>
                <th>객실이미지</th>
                <th>이미지설명</th>
                <th>수정여부</th>
            </tr>
            <tr th:each="ilist : ${ilist}" class="text-center">
                <form role="form">

                    <input type="text" class="" hidden="hidden" name="imgId" th:value="${ilist.imgId}">
                    <td th:text="${ilist.htName}"></td>
                    <td><img th:src="${ilist.img}" width="500px" height="220px" class="oriImg mx-auto d-block" style="border-radius: 10px" ></td>
                    <td  th:name="imgExplain" th:text="${ilist.imgExplain}"></td>
                    <td >
                    <button type="submit" class="btn btn-secondary imageupdate">수정</button>
                    <button type="submit" class="btn btn-danger imagedelete">삭제</button>
                    </td>
                </form>
            </tr>
        </table>
    </th:block>
    <script>
        let formObj = $("form[role='form']");
        $(".hotelupdate").click(function () {
            formObj.attr("action", "/hotel/updateView");
            formObj.attr("method", "post")
            formObj.submit();
        });
        $(".roomupdate").click(function () {
            formObj.attr("action", "/room/updateView");
            formObj.attr("method", "post")
            formObj.submit();
        });
        $(".roomcreate").click(function () {
            formObj.attr("action", "/room/reg");
            formObj.submit();
        });
        $(".roomdelete").click(function () {
            formObj.attr("action", "/room/delete");
            formObj.attr("method", "post")
            formObj.submit();
        });
        $(".imageupdate").click(function () {
            formObj.attr("action", "/image/updateView");
            formObj.attr("method", "post")
            formObj.submit();
        });
        $(".imagedelete").click(function () {
            formObj.attr("action", "/image/delete");
            formObj.attr("method", "post")
            formObj.submit();
        });
    </script>
</div>
</body>
</html>