<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <h1>Header Section</h1>
</div>
</html>

<!--<!doctype html>-->

<!--<th:block th:fragment="headerFragment">-->
<!--<div class="container">-->
<!--    <div class="top__inner">-->
<!--        <ul class="top__list">-->
<!--            <li><a href="#">로그인</a></li>-->
<!--            <li class="listBorder"><a href="#">회원가입</a></li>-->
<!--            <li class="listBorder"><a href="">마이페이지</a></li>-->
<!--            <li class="listBorder"><a href="">팀원소개</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="main__inner">-->
<!--        <img class="logo" src="/src/main/resources/static/imgs/JSPO-logo.png" alt="">-->

<!--    </div>-->
<!--</div>-->
<!--</th:block>-->

