<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>등록페이지</title>
    <style>
        .img { width: 300px; height: 200px;}
    </style>
</head>
<body>
<div class="container h-80 " layout:fragment="content">
<th:block th:if="${hotelDto == null}">


<form role="form" method="post" action="/hotel/reg" enctype="multipart/form-data">
    <table>
        <tbody>
        <tr>
            <td>

                <label>호텔명</label><input type="text" name="htName"  /><br>
                <label>호텔주소</label><input type="text" name="htAddress" /><br>
                <label>호텔이미지</label><input type="file" id="htImg" name="file"/><br>
                <div class="select_img"><img src="" /></div>
                <label>호텔 전화번호</label><input type="text" name="htPhone"  /><br>

                <script>
                    $("#htImg").change(function(){
                        if(this.files && this.files[0]) {
                            var reader = new FileReader;
                            reader.onload = function(data) {
                                $(".select_img img").attr("src", data.target.result).width(500);
                            }
                            reader.readAsDataURL(this.files[0]);
                        }
                    });
                </script>
            </td>
        <tr>
            <td>
                <button type="submit">작성</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</th:block>
<th:block th:if="${hotelDto != null}">
    <header>
        <h1> 호텔 </h1>
    </header>
    <form role="form" enctype="multipart/form-data">
        <table>
            <tbody>
            <tr>
                <td>

                    <label>호텔명</label><input type="text" th:value="${hotelDto.htName}" readonly /><br>
                    <label>호텔주소</label><input type="text" th:value="${hotelDto.htAddress}" readonly /><br>
                    <label>호텔이미지</label><input type="hidden" id="htImg" name="file"/><br>
                    <div class="select_img"><img th:src="${hotelDto.htImg}" class="img" /></div>
                    <label>호텔 전화번호</label><input type="text" th:value="${hotelDto.htPhone}" readonly /><br>

                    <script>
                        $("#htImg").change(function(){
                            if(this.files && this.files[0]) {
                                var reader = new FileReader;
                                reader.onload = function(data) {
                                    $(".select_img img").attr("src", data.target.result).width(500);
                                }
                                reader.readAsDataURL(this.files[0]);
                            }
                        });
                    </script>
                </td>
            </tbody>
        </table>
    </form>






<header>
    <h1> 객실 등록</h1>
</header>
<form role="form" method="post" action="/room/reg" enctype="multipart/form-data">
    <table>
        <tbody>
        <tr>
            <td>
                <label>호텔명</label>
                <select name="hotelHtId">
                    <option th:text="${hotelDto.htName}" th:value="${hotelDto.htId}"></option>
                </select><br>
                <label>객실명</label><input type="text" name="rName"  /><br>
                <label>객실가격</label><input type="text" name="rPrice" /><br>
                <label>객실갯수</label><input type="text" name="rCnt" /><br>
                <label>객실이미지</label><input type="file" id="rImg" name="file" /><br>
                <div class="select_img2"><img src="" /></div>

                <script>
                    $("#rImg").change(function(){
                        if(this.files && this.files[0]) {
                            var reader = new FileReader;
                            reader.onload = function(data) {
                                $(".select_img2 img").attr("src", data.target.result).width(500);
                            }
                            reader.readAsDataURL(this.files[0]);
                        }
                    });
                </script>
            </td>
                <tr>
                    <td>
                        <button type="submit">작성</button>
                    </td>
                </tr>
        </tbody>
    </table>
</form>

</th:block>

</div>

</body>
</html>