<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">



<head>



</head>
<body>

<div class="container my-5 h-100" layout:fragment="content" >

  <div class="title my-3 w-100 justify-content-between">

      <span class="fw-bold display-6 ">맞춤 숙소 검색</span>
      <span id="reset">초기화</span>
  </div>

    <div class=" mb-3 my-3">
        <form class="d-flex" action="/hotel"  method="post" >

            <input class="form-control sm-5 me-2" type="search" placeholder="숙소명 검색" aria-label="Search" name="htName">

            <button class="btn btn-outline-success" type="submit">검색</button>
        </form>
    </div>

    <div class="slider">

        <label for="min_price" class="form-label fw-bold">최저가격</label>
        <div class="price_wrap">
        <input type="range" class="form-range price_input_range" id="min_price" min="1" max="9999" value="1" step="1">
        <div class="input-group price_input_group" >
            <span class="input-group-text ">₩</span>
            <input type="text" class="form-control " id="min_box" aria-label="원" value="10,000">
            <span class="input-group-text ">원</span>
        </div>
        </div>
        <div class="max_price_wrap">
        <label for="max_price" class="form-label fw-bold">최대가격</label>
            <div class="price_wrap">
        <input type="range" class="form-range price_input_range" id="max_price" min="2" max="10000" value="10000" step="1">
            <div class="input-group price_input_group" >
                <span class="input-group-text ">₩</span>
                <input type="text" class="form-control" id="max_box" aria-label="원" value="10,000,000">
                <span class="input-group-text">원</span>
            </div>
            </div>
        </div>





    </div>
    <form>
        <tr th:each="list ,i : ${list}">
    <div class="card mb-3 hotel_list mt-4" >
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="${list.htImg}" class="img-fluid rounded-start" alt="..." width="100%" height="100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title fw-bolder" th:text ="${list.htName}"></h2>
                    <p class="card-text" th:text="${list.htAddress}"></p>
                    <div class="hotel_list_price">
                            <span class="display-4 fw-bolder">가격</span>
                        <td th:if="${pricelist[i.index]} != null"><span class="fw-bolder display-4" th:text="${pricelist[i.index]}"></span><span class="fw-bolder display-4">원</span></td>
                        <td th:if="${pricelist[i.index]} == null"><span class="fw-bolder display-4" th:text="0"></span><span class="fw-bolder display-4">원</span></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </tr>
    </form>
    <ul>
        <li>최소가격이 최대가격보다 작게
            최대가격이 최소가격보다 크게</li>
        <li>인풋박스에 가격 입력시 레인지값 이동</li>
    </ul>



</div>

</body>

</html>