<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<head>
    <meta charset="UTF-8">
    <title>호텔 리스트</title>
    <style>
        .oriImg { width: 500px; height: auto;}
        td{ text-align: center;}
    </style>
</head>
<body>
<header>
    <h1> 호텔 게시판</h1>
</header>
<div class="container h-100 " layout:fragment="content">
<form role="form" >
    <table>
        <tr><th>사진</th><th>호텔이름</th><th>주소</th> <th>가격</th></tr>

        <tr th:each="list : ${list}">

            <td>
            <a th:href="@{/room/list/} + ${list.htId}"><img th:src="${list.htImg}" class="oriImg" th:id="${list.htId}" ></a>
            </td>
            <td th:text="${list.htName}"></td>
            <td th:text="${list.htAddress}"></td>
            <td th:if="${pricelist[1]} != null"><span th:text="${pricelist[list.htId]}+'원'"></span></td>

        </tr>

    </table>
</form>

</div>
</body>
</html>