<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<head>


</head>
<body>

<div class="container my-5 h-100" layout:fragment="content">
    <div id="map" style="height:400px;"></div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=19a3970bc47b62850b9beb6d57f0b6bc"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.5707, 126.9754), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
        var positions = [
            {
                content: '<div style="font-size: 15px; text-align: center; font-family: -apple-system">포시즌스호텔</div>',
                latlng: new kakao.maps.LatLng(37.5707, 126.9754)
            },
            {
                content: '<div style="font-size: 15px; text-align: center; font-family: -apple-system">인터컨티넨탈 서울 코엑스</div>',
                latlng: new kakao.maps.LatLng(37.508882, 127.060814)
            },
            {
                content: '<div style="font-size: 15px; text-align: center; font-family: -apple-system">시그니엘 서울</div>',
                latlng: new kakao.maps.LatLng(37.5126039, 127.1025242)
            },
            {
                content: '<div style="font-size: 15px; text-align: center; font-family: -apple-system">파크하얏트 서울</div>',
                latlng: new kakao.maps.LatLng(37.5085791, 127.0641676)
            },
            {
                content: '<div style="font-size: 15px; text-align: center; font-family: -apple-system">신라호텔 서울</div>',
                latlng: new kakao.maps.LatLng(37.55714006, 127.00825221)
            }
        ];

        var markerArray = [];

        for (var i = 0; i < positions.length; i ++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng // 마커의 위치
            });

            markerArray.push(marker);

            // 마커에 표시할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content // 인포윈도우에 표시할 내용
            });

            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
            // 이벤트 리스너로는 클로저를 만들어 등록합니다
            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));

            // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            // 핀 위치로 지도 이동 이벤트 등록.
            (function(m) {
                kakao.maps.event.addListener(markerArray[m], 'click', function () {
                    map.panTo(markerArray[m].n)
                });
            })(i);
        }

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function() {
                infowindow.close();
            };
        }

    </script>

    <div class="title my-3 w-100 justify-content-between">

        <span class="fw-bold display-6 ">맞춤 숙소 검색</span>
        <span id="reset">초기화</span>
    </div>

    <div class=" mb-3 my-3">
        <form class="d-flex" action="/hotel" method="post">

            <input class="form-control sm-5 me-2" type="search" placeholder="숙소명 검색" aria-label="Search" name="htName">

            <button class="btn btn-outline-success" type="submit">검색</button>
        </form>
    </div>

    <div class="slider">

        <label for="min_price" class="form-label fw-bold">최저가격</label>
        <div class="price_wrap">
            <input type="range" class="form-range price_input_range" id="min_price" min="1" max="9999" value="1"
                   step="1">
            <div class="input-group price_input_group">
                <span class="input-group-text ">₩</span>
                <input type="text" class="form-control " id="min_box" aria-label="원" value="10,000">
                <span class="input-group-text ">원</span>
            </div>
        </div>
        <div class="max_price_wrap">
            <label for="max_price" class="form-label fw-bold">최대가격</label>
            <div class="price_wrap">
                <input type="range" class="form-range price_input_range" id="max_price" min="2" max="10000"
                       value="10000" step="1">
                <div class="input-group price_input_group">
                    <span class="input-group-text ">₩</span>
                    <input type="text" class="form-control" id="max_box" aria-label="원" value="10,000,000">
                    <span class="input-group-text">원</span>
                </div>
            </div>
        </div>
    </div>

    <form>
        <tr th:each="list ,i : ${list}">
            <div class="card mb-3 hotel_list mt-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a th:href="@{/room/list/} + ${list.htId}"> <img th:src="${list.htImg}"
                                                                         class="img-fluid rounded-start" alt="..."
                                                                         width="100%" height="100%"></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title fw-bolder" th:text="${list.htName}"></h2>
                            <p class="card-text" th:text="${list.htAddress}"></p>
                            <div class="hotel_list_price">
                                <span class="display-4 fw-bolder">가격</span>
                                <td th:if="${pricelist[i.index]} != null"><span class="fw-bolder display-4"
                                                                                th:text="${pricelist[i.index]}"></span><span
                                        class="fw-bolder display-4">원</span></td>
                                <td th:if="${pricelist[i.index]} == null"><span class="fw-bolder display-4"
                                                                                th:text="0"></span><span
                                        class="fw-bolder display-4">원</span></td>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </form>
    <ul>
        <li>최소가격이 최대가격보다 작게
            최대가격이 최소가격보다 크게
        </li>
        <li>인풋박스에 가격 입력시 레인지값 이동</li>
    </ul>


</div>

</body>

</html>