<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>등록페이지</title>
</head>
<body>
<header>
    <h1> 호텔 등록게시판</h1>
</header>
<form role="form" method="post" action="/hotel/reg">
    <table>
        <tbody>
        <tr>
            <td>

                <label>호텔명</label><input type="text" name="htName"  /><br>
                <label>호텔주소</label><input type="text" name="htAddress" /><br>
                <label>호텔이미지</label><input type="file" name="htImg"  /><br>
                <label>호텔 전화번호</label><input type="text" name="htPhone"  /><br>

            </td>
        <tr>
            <td>
                <button type="submit">작성</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>



</body>
</html>