<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">



<head>



  </head>
  <body>

  <div class="login_wrap justify-content-center" layout:fragment="content" >
    <div class="login" >
        
        <div class="logo">

        <img class="text-center" src="/imgs/JSPO-logo.png" alt="" height="100px">

        </div>

        <form action="/login" method="post" name="loginForm" class="needs-validation">

        <div class="form-group was-validated">
            <label class="form-label " for="email">이메일</label>
            <input class="form-control" type="email" id="email" name="email" required maxlength="30" minlength="6" autofocus th:value="${email}">
            <div class="invalid-feedback">
                이메일 주소를 입력해주세요
            </div>
        </div>
        <div class="form-group was-validated">
            <label class="form-label"    for="pwd">비밀번호</label>
            <input class="form-control"  type="password" id="pwd" name="pwd" minlength="8" maxlength="16" required>
            <div class="invalid-feedback">
                비밀번호를 입력해주세요
            </div>
        </div>
        

        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" id="remember" name="remember" th:if="${email == null}">
            <input class="form-check-input" type="checkbox" id="remember-checked" name="remember" th:if="${email != null}" checked="checked">
            <label class="form-check-label" for="check">이메일 기억하기</label>
        </div>



        <input class="btn btn-success w-100" type="submit" value="로그인">

        <div class="form-group">
            <ul>
                <li><a href="/join"><span>이메일 가입하기</span></a> </li>
                <li><a href="/#"><span>이메일 찾기</span></a> </li>
                <li><a href="/#"><span>비밀번호 찾기</span></a> </li>
            </ul>
        </div>

        </form>
    </div>


    


  </div>

  </body>

</html>