<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<body>
<div class="ready" layout:fragment="content">

    <h1>메인 페이지</h1>

    <h2><a href="/hotel">호텔페이지 </a></h2>
    <h2><a href="/admin">관리자 페이지 </a></h2>
    <h2><a href="/hotel/reg">호텔등록 페이지</a></h2>
    <h2><a href="/my/reserved">예약내역 페이지</a></h2>
    <h2><a href="/hotel/list">호텔 리스트</a></h2>

    <th:block th:each="list : ${list}">
        호텔이름<span th:text="${list.htName}"></span>
        호텔주소<span th:text="${list.htAddress}"></span>
        호텔사진<img th:src="${list.htImg}"/>
        호텔전화<span th:text="${list.htPhone}"></span>
    </th:block>
</div>
</body>
</html>