<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<body>
<div class="container" layout:fragment="content">

   <p><span>메인 페이지</span>
    <span><a href="/hotel">호텔페이지// </a></span>
    <span><a href="/admin/hotellist">관리자 페이지// </a></span>
    <span><a href="/hotel/reg">호텔등록 페이지//</a></span>
    <span><a href="/my/reserved">예약내역 페이지//</a></span>
    <span   ><a href="/hotel/list">호텔 리스트</a></span>
    </p>

        <div class="title my-3 w-100 justify-content-between">

            <span class="fw-bold fs-3 ">맞춤 숙소 검색</span>
            <div class="divider border-bottom my-2"></div>
            <span id="reset">초기화</span>

        </div>


        <div class=" mb-3 my-3">
            <form class="d-flex" action="/hotel" method="post">
                <input class="form-control sm-5 me-2" type="search" placeholder="숙소명 검색" aria-label="Search" name="htName">
                <button class="btn btn-outline-success" type="submit">검색</button>
            </form>
        </div>

        <div class="slider">

            <label for="min_price" class="form-label fw-bold">최저가격</label>
            <div class="price_wrap">
                <input type="range" class="form-range price_input_range" id="min_price" min="1" max="9999" value="1"
                       step="1">
                <div class="input-group price_input_group">
                    <span class="input-group-text ">₩</span>
                    <input type="text" class="form-control " id="min_box" aria-label="원" value="10,000">
                    <span class="input-group-text ">원</span>
                </div>
            </div>
            <div class="max_price_wrap">
                <label for="max_price" class="form-label fw-bold">최대가격</label>
                <div class="price_wrap">
                    <input type="range" class="form-range price_input_range" id="max_price" min="2" max="10000"
                           value="10000" step="1">
                    <div class="input-group price_input_group">
                        <span class="input-group-text ">₩</span>
                        <input type="text" class="form-control" id="max_box" aria-label="원" value="10,000,000">
                        <span class="input-group-text">원</span>
                    </div>
                </div>
            </div>




        </div>
    <div class="title my-3 w-100 justify-content-between">
        <span class="fw-bold fs-3 ">JSPO BEST 인기 호텔</span>
        <div class="divider border-bottom my-2"></div>
    </div>

    <div class="row d-flex justify-content-start align-items-center p-2 "  >
    <div class="col col-md-2 " th:each="list : ${list}" >
<!--        border rounded-3 p-0 mx-3 mb-5-->
                <div class="card mb-3" style="width: 13rem;height: 18rem">
<!--                    <a th:href="|@{/room/list/} + ${list.htId}|">-->
                        <img th:src="${list.htImg}" src="" class="card-img-top" alt=""  style="width: 12.9rem; height: 9rem">
<!--                    </a>-->
                    <div class="card-body">
                        <p class="m-0 "><span class="resId fs-6 text-secondary" th:text="${list.htAddress}"></span></p>
                        <p class="m-0"><span class="resId fs-5" th:text="${list.htName}"></span></p>
<!--                        <p class="text-end"><span th:if="${pricelist[i.index]} != null"><span class="fw-bold" th:text="${pricelist[i.index]}+'원'"></span></span></p>-->
<!--                        <p class="text-end"><span th:if="${pricelist[i.index]} == null"><span class="fw-bold" th:text='0원'></span></span></p>-->
                    </div>
                </div>
            </div>
    </div>


    </div>

    </body>

    </html>


