<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">



<head>



    <title>마이페이지</title>


</head>
<body>
<div class="container" layout:fragment="content">
    <div class="myPage_wrap justify-content-center"  >

    <div class="myPage" >
        <div class="myPage_title" >
            <p class="fs-3 fw-bold">회원정보</p>
        </div>
        <form action="/my" method="post" name="loginForm" class="needs-validation" th:object="${memberDto}">

            <div class="mb-3 row">
                <label for="staticName" class="col-sm-3 col-form-label">이름</label>
                <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="staticName" th:value="*{name}" >
                </div>
            </div>


            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label">이메일</label>
                <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="*{email}" >
                </div>
            </div>



            <div class="mb-3 row align-items-center">
                <label for="staticPassword" class="col-sm-3 col-form-label" >비밀번호</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control-plaintext" id="staticPassword" th:value="*{pwd.length}" readonly>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >비밀번호 변경</button>
                </div>
            </div>


            <div class="mb-3 row">
                <label for="staticBirth" class="col-sm-3 col-form-label">생년월일</label>
                <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="staticBirth" th:value="${#dates.format(memberDto.birth, 'yyyy년 MM월 dd일')}" >
                </div>
            </div>

            <div class="mb-3 row align-items-center">
                <label for="staticPhone" class="col-sm-3 col-form-label" >연락처</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control-plaintext" id="staticPhone" th:value="*{phone}" readonly>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop-phone">연락처 변경</button>
                </div>
            </div>





        </form>


    </div>
    </div>

<!--    -->

    <style>
        #cancelReserve {
            display: none;
            width: 400px;
            padding: 20px 60px;
            background-color: #fefefe;
            border: 1px solid #888;
            border-radius: 3px;
        }
    </style>

    <div id="cancelReserve" style="width: 500px;border-radius: 15px">
        <div class="title w-100 border-bottom mb-2 py-2 fw-bold">
            <span class="fs-5">회원님의 예약을 취소하시겠습니까?</span>
        </div>

        <div class="button_box text-center">
            <input class="btn btn-secondary modal_close_btn" type="submit" value="취소" style="width: 6rem">
            <input class="btn btn-success" type="submit" value="확인" id="applyPhoneAuth" style="width: 6rem"
                   onclick="cancelPay()">
        </div>
    </div>

<!--예약내역-->
    <div class="rounded-3 shadow-lg mt-2 mb-5">
        <div class="px-3 px-sm-4 px-xl-5 pt-1 pb-4 pb-sm-5">

            <div class="row">
                <h1 class="fs-3 fw-bold p-2 m-2 ">예약내역페이지</h1>
                <h5 th:if="${reservation eq null}" th:text="'예약하신 내역이 없습니다'"></h5>
                <div th:each="r : ${reservation}">
                    <div class="col-lg-4 col-md-5 pt-3 pt-sm-4 w-100">

                        <div class="rounded-3 bg-light px-3 px-sm-4 py-4 w-100" id="reserved_content">
                            <div class="reserved_hotel_img position-relative">
                                <img class="reserved_hotel_img position-relative" th:src="${roomDto.get(rStat.index).getrImg()}">
                                <span class="btn btn-icon btn-danger position-absolute top-0 end-0 py-0 px-1 m-2"
                                      th:if="${r.getResState() == 1 && #dates.createNow() < r.getRoomRCheckin()}"
                                      onclick="modal()" data-bs-toggle="tooltip"
                                      title="Remove from Favorites"><i class="fa-solid fa-trash-can"></i></span>
                            </div>
                            <div class="reserved_hotel_info">
                                <p class="fw-bold">예약번호 : <span class="resId" th:text="${r.getResId()}"></span></p>
                                <p>호텔명 : <span th:text="|${hotelDto.get(rStat.index).getHtName()} - ${roomDto.get(rStat.index).getrName()}|"></span></p>

                                <p> 예약자 : <span class="memberName" th:text="${memberDto.getName()}"></span></p>
                                <p> 예약날짜 : <span
                                        th:text="|${#dates.format(r.getResDate(), 'yyyy년 MM월 dd일 HH시 mm분')} (${#dates.dayOfWeekNameShort(r.getResDate())})|"></span>
                                </p>
                                <p>숙박날짜 : <span
                                        th:text="|${#dates.format(r.roomRCheckin, 'yyyy년 MM월 dd일')} (${#dates.dayOfWeekNameShort(r.roomRCheckin)}) ~ ${#dates.format(r.roomRCheckout, 'yyyy년 MM월 dd일')} (${#dates.dayOfWeekNameShort(r.roomRCheckout)})|"></span>
                                </p>
                                <p> 예약상태 : <span th:if="${r.getResState()} == 1" th:text="예약완료"></span></p>
                                <p><span th:unless="${r.getResState()} == 1" th:text="예약마감"></span></p>
                                <p> 업체연락처 : <span th:text="${hotelDto.get(rStat.index).getHtPhone()}"></span></p>
                                <p> 결제금액 : <span class="resPrice" th:text="${#numbers.formatInteger(r.getResPrice(),3,'COMMA')}+원"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--예약내역 끝-->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">비밀번호 변경</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="password" class="form-control margin-input" id="current_password" minlength="8" name="pwd" placeholder="현재 비밀번호" required autofocus >
                    <form th:action="@{/join}" method="post" name="regForm" class="needs-validation-modal" th:object="${memberDto}"><!--modelAttribute="memberDto"-->


                        <input type="password" class="form-control" id="password" minlength="8" name="pwd" placeholder="새 비밀번호" required>
                        <div  class="progress" style="height: 5px;">
                            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                        <small id="passwordHelpBlock" class="form-text text-muted" style="font-size: 13px">
                            영문, 숫자, 특수문자를 조합해서 입력해주세요. (8-16자)
                        </small>

                        <div id="feedbackin" class="valid-feedback">

                        </div>
                        <div id="feedbackirn" class="invalid-feedback" style="font-size: 13px">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="password_cancle()">취소</button>
                    <button type="button" class="btn btn-primary" id="change_password_apply" onclick="password_change()">변경</button>
                </div>
            </div>
        </div>

    </div>
    <!--비밀번호 변경 모달 끝-->

    <div class="modal fade" id="staticBackdrop-phone" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel-phone">휴대폰 번호 변경</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form th:action="@{/join}" method="post" name="regForm" class="needs-validation-modal" th:object="${memberDto}"><!--modelAttribute="memberDto"-->

                        <div class="form-group mb-3 was-validated">
                            <label class="form-label" for="new_phone_number">연락처</label>
                            <input type="tel" id="new_phone_number" name="phone" class="form-control margin-input"  placeholder=" - 없이 숫자만 입력" required min="7" maxlength="12"  pattern="[0-9]{3}[0-9]{4}[0-9]{4}"/>
                            <div class="invalid-feedback-phone mb-1">

                            </div>

                            <div class="input-group mb-3">
                                <!--                    placeholder="인증번호 입력"-->
                                <input type="text" class="form-control" id="phone_auth_Num" aria-label="Auth email" aria-describedby="button-addon3" required minlength="6" maxlength="6" oninput="checkPhoneAuthNum()">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon3" onclick="sendPhoneAuthNum()">인증번호 전송</button>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="phone_cancle()">취소</button>
                    <button type="button" class="btn btn-primary" id="change_phone_apply" onclick="phone_change()">변경</button>
                </div>
            </div>
        </div>
    </div>
<!--    비밀번호 변경 모달-->

    </div>


</body>

</html>