<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSPO | 좆소파워 </title>
    <link rel="stylesheet" href="css/regForm.css">
</head>

<body>
<form th:action="@{/join}" method="post" name="regForm"><!--modelAttribute="memberDto"-->
    <div class="wrap">

        <div class="join__area">

            <div class="join__title">
                <img class="logo" src="imgs/JSPO-logo.png" alt="logo">
                <span class="title">회원가입</span>
            </div>

            <div class="input__box">
                <h3 class="input__title">이름*</h3>
                <input type="text" class="input__txt" id="name" name="name" th:value="${memberDto.name}" autofocus oninput="checkName()">
                <span id="valid_name" th:text="${valid_name}"></span>
            </div>

            <div class="input__box">
                <h3 class="input__title">이메일*</h3>
                <div class="email__box">
                    <input type="text" class="input__txt" id="email" name="email" th:value="${memberDto.email}" oninput="checkEmail()">
                    <input type="text" id="authNum" oninput="checkAuthNum()">
                    <span id="authBtn" disabled="disabled" onclick="sendAuthNum()">인증번호 전송</span>
                    <span class="email_ok">사용 가능한 이메일입니다.</span>
                    <span class="email_already">이미 사용중인 이메일입니다.</span>
                    <span id="valid_email" th:text="${valid_email}"></span>
                </div>
            </div>

            <div class="input__box">
                <h3 class="input__title">비밀번호*</h3>
                <input type="password" class="input__txt" id="password" name="pwd" placeholder="영문,숫자,특수문자 조합 8-16자" oninput="checkPwd()">
                <span id="valid_pwd" th:text="${valid_pwd}"></span>
            </div>

            <div class="input__box">
                <h3 class="input__title">비밀번호 확인*</h3>
                <input type="password" class="input__txt" id="check__password" name="pwd2" placeholder="비밀번호 재입력" oninput="checkPwd()">
                <span class="pwd_ok">비밀번호가 일치합니다.</span>
                <span class="pwd_duplicate">비밀번호가 일치하지 않습니다.</span>
            </div>

            <div class="input__box">
                <h3 class="input__title">
                    생년월일*</h3>
                <input type="text" class="input__txt" id="birth" name="birth" th:value="${memberDto.birth}" placeholder="생년월일 예)1990-01-01" oninput="checkBirth()">
                <span id="valid_birth" th:text="${valid_birth}"></span>
            </div>

            <div class="input__box">
                <h3 class="input__title">연락처*</h3>
                <input type="text" class="input__txt" id="phone" name="phone" th:value="${memberDto.phone}" placeholder=" - 없이 숫자만 입력" oninput="checkPhone()">
                <input type="text" id="phoneAuthNum" oninput="checkPhoneAuthNum()">
                <span id="phoneAuthBtn" disabled="disabled" onclick="sendPhoneAuthNum()">인증번호 전송</span>
                <span id="valid_phone" th:text="${valid_phone}"></span>
            </div>

            <div class="reg__btn">
                <button type="submit" class="reg" disabled="disabled">가입하기</button>
            </div>

        </div>
    </div>
</form>
<script>
    let emailCheck;
    let pwdCheck;
    let nameCheck;
    let birthCheck;
    let phoneCheck;
    let authNumCheck;

    // 윈도우가 로드될 때(회원가입시 오류 발생하여 다시 회원가입폼으로 돌아올 경우) 저장된 값을 인식하게하기 위함.
    window.onload = function() {
        checkEmail();
        checkPwd();
        checkName();
        checkBirth();
        checkPhone();
        allCheck();
    }

    // 이메일이 정규식에 맞는지 확인하여 true false 반환.
    function email_check( email ) {

        var regex=/([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return (email !== '' && email !== 'undefined' && regex.test(email));

    }

    // 사용자가 입력한 이메일 값을 ajax로 서버에 보내서 실시간으로 확인하여 중복된 메일인지 아닌지 확인.
    function checkEmail() {
        let email = $("#email").val();

        if (email !== "") $("#valid_email").css("display", "none");
        else $("#valid_email").css("display", "inline-block");

        if(!(email_check(email))) {
            $(".email_ok").css("display", "none");
            $(".email_already").css("display", "none");
            return;
        } else {
            $.ajax({
                url: "emailCheck",
                type: "post",
                data: {email: email},
                success: function (cnt) {
                    if (email === "") {
                        $(".email_ok").css("display", "none");
                        $(".email_already").css("display", "none");
                        emailCheck = false;
                        $("#authBtn").prop("disabled", true);
                        $("#authBtn").css("background-color", "#ebebeb")
                    }
                    else if (cnt === 0) {
                        $(".email_ok").css("display", "inline-block");
                        $(".email_already").css("display", "none");
                        emailCheck = true;
                        $("#authBtn").prop("disabled", false);
                        $("#authBtn").css("background-color", "#4CAF50")
                    } else {
                        $(".email_ok").css("display", "none");
                        $(".email_already").css("display", "inline-block");
                        $(".reg").prop("disabled", true);
                        $(".reg").css("background-color", "#ebebeb");
                        $("#authBtn").prop("disabled", true);
                        $("#authBtn").css("background-color", "#ebebeb")
                        emailCheck = false;
                    }
                },
                error:function(){
                    alert("에러입니다.");
                }
            });
            allCheck();
        }
    }

    // 사용자가 입력한 비밀번호가 비밀번호 확인란에 입력한 값과 일치하는지 확인.
    function checkPwd() {
        let pwd = $("#password").val();
        let chkPwd = $("#check__password").val();

        if (pwd !== "" && pwd === chkPwd && 8 <= pwd.length && pwd.length <= 16) {
            $(".pwd_ok").css("display", "inline-block");
            $(".pwd_duplicate").css("display", "none");
            $("#valid_pwd").css("display", "none");
            pwdCheck = true;
        } else {
            $(".pwd_ok").css("display", "none");
            $(".pwd_duplicate").css("display", "inline-block");
            $(".reg").prop("disabled", true);
            $("#valid_pwd").css("display", "inline-block");
            pwdCheck = false;
        }
        allCheck();
    }

    // 사용자가 이름을 입력했는지 확인.
    function checkName() {
        if($("#name").val() !== "") {
            $("#valid_name").css("display", "none");
            nameCheck = true;
        } else {
            $("#valid_name").css("display", "inline-block");
            nameCheck = false;
        }
        allCheck();
    }

    // 사용자가 생년월일을 입력했는지 확인.
    function checkBirth() {
        if($("#birth").val() !== "") {
            $("#valid_birth").css("display", "none");
            birthCheck = true;
        } else {
            $("#valid_birth").css("display", "inline-block");
            birthCheck = false;
        }
        allCheck();
    }

    // 사용자가 전화번호를 입력했는지 확인.
    function checkPhone() {
        if($("#phone").val() !== "" && $("#phone").val().length === 11) {
            $("#valid_phone").css("display", "none");
            $("#phoneAuthBtn").prop("disabled", false);
            $("#phoneAuthBtn").css("background-color", "#4CAF50");
        } else {
            $("#valid_phone").css("display", "inline-block");
            $("#phoneAuthBtn").prop("disabled", true);
            $("#phoneAuthBtn").css("background-color", "#ebebeb");
            phoneCheck = false;
        }
        allCheck();
    }

    // 이메일인증 버튼 누르면 서버에 인증번호 저장.
    function sendAuthNum() {
        let email = $("#email").val();
        $.ajax({
            url: "join/emailConfirm",
            method: "post",
            data: {email:email},
        })
    }

    // 서버에 저장된 인증번호와 사용자가 입력한 값이 맞는지 확인.
    function checkAuthNum() {
        let inputNum = $("#authNum").val();

        $.ajax({
            url: "join/emailAuth",
            method: "post",
            data: {inputNum:inputNum},
            success: function(res) {
                if (res) {
                    $("#authNum").css("background-color", "#4CAF50");
                    authNumCheck = true;
                } else {
                    $("#authNum").css("background-color", "#ebebeb");
                    authNumCheck = false;
                }
                allCheck();
            }
        })
    }

    // 핸드폰 인증번호 서버에 저장.
    function sendPhoneAuthNum() {
        let phone = $("#phone").val();

        if (phone.length !== 11) {
            return;
        }
        alert("gogo");
        $.ajax({
            url: "/phoneAuth",
            method: "post",
            data: {phone : phone}
        })
    }

    function checkPhoneAuthNum() {
        let inputNum = $("#phoneAuthNum").val();

        if (inputNum.length === 6) {
            $.ajax({
                url: "/phoneAuthOk",
                method: "post",
                data: {inputNum : inputNum},
                success: function(res) {
                    if (res === true) {
                        $("#phoneAuthNum").css("background-color", "#4CAF50");
                        phoneCheck = true;
                    } else {
                        $("#phoneAuthNum").css("background-color", "#ebebeb");
                    }
                }
            })
        }
        return;
    }

    // 모든 input 항목을 적었는지 확인하고, 다 입력하면 가입버튼 활성화, 아니면 비활성화.
    function allCheck() {

        if (emailCheck && pwdCheck && nameCheck && birthCheck && phoneCheck && authNumCheck) {
            $(".reg").prop("disabled", false);
            $(".reg").css("background-color", "#4CAF50");
        } else {
            $(".reg").prop("disabled", true);
            $(".reg").css("background-color", "#ebebeb");
        }
    }
</script>
</body>

</html>