<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>

</head>
<body>

<div class="reservation_page_wrap " layout:fragment="content">

    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <div th:object="${hotelDto}" hidden="hidden">
        <span class="htId" th:text="*{htId}"></span>
        <span class="htName" th:text="*{htName}"></span>
        <span class="htAddress" th:text="*{htAddress}"></span>
        <span class="fullName" th:text="|${hotelDto.htName} ${hotelDto.htAddress} ${roomDto.rName}|"></span>
        <span class="resId" th:text="${reservationDto.resId}"></span>
    </div>
    <div th:object="${roomDto}" hidden="hidden">
        <span class="rId" th:text="*{rId}"></span>
        <span class="rName" th:text="*{rName}"></span>
        <span class="rPrice" th:text="*{rPrice}"></span>
        <span class="rCheckin" th:text="*{rCheckin}"></span>
        <span class="rCheckout" th:text="*{rCheckout}"></span>
    </div>
    <div th:object="${memberDto}" hidden="hidden">
        <span class="id" th:text="*{id}"></span>
        <span class="email" th:text="*{email}"></span>
        <span class="name" th:text="*{name}"></span>
        <span class="phone" th:text="*{phone}"></span>
    </div>

    <div class="container  pb-3 ">

        <div class="rounded-3 shadow-lg mt-4 mb-5">
            <ul class="nav nav-tabs nav-justified my-1">
                <li class="nav-item  "><span class="display-3 nav-link fs-lg pt-3 fw-medium active fw-bold"
                                             href="#">예약 내역</span></li>

            </ul>
            <div class="px-3 px-sm-4 px-xl-5 pt-1 pb-4 pb-sm-5">
                <div class="row">
                    <!-- Items in cart-->
                    <div class="col-lg-8 col-md-7 pt-sm-2 w-100">
                        <!-- Item-->
                        <div class="d-sm-flex justify-content-between align-items-center mt-3 mb-4 py-3  border-top border-bottom">
                            <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a
                                    class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="#">
                                <img th:src="${hotelDto.htImg}" id="hotel_picture" width="200px" height="140px"
                                    alt="hotel image"></a>
                                <div class="pt-2">
                                    <h3 class="product-title fs-base mb-2"><a href="#"
                                                                              style="text-decoration: none; color:  black"
                                                                              th:text="|${hotelDto.htName} ${hotelDto.htAddress} - ${roomDto.rName}|"></a></h3>
<!--                                    <div class="fs-sm"><span class="text-muted me-2"-->
<!--                                                             th:text="|${#dates.format(roomDto.rCheckin, 'yyyy년 MM월 dd일')} (${#dates.dayOfWeekNameShort(roomDto.rCheckin)}) ~ ${#dates.format(roomDto.rCheckout, 'yyyy년 MM월 dd일')} (${#dates.dayOfWeekNameShort(roomDto.rCheckout)}) ${#dates.day(roomDto.rCheckout) - #dates.day(roomDto.rCheckin)}박|"></span>-->
                                    <div class="fs-sm"><span class="text-muted me-2"
                                                             th:text="|${#dates.format(roomDto.rCheckin, 'yyyy년 MM월 dd일')} (${#dates.dayOfWeekNameShort(roomDto.rCheckin)}) ~ ${#dates.format(roomDto.rCheckout, 'yyyy년 MM월 dd일')} (${#dates.dayOfWeekNameShort(roomDto.rCheckout)}) ${diff}박|"></span>
                                    </div>
                                    <div class="fs-sm"><span class="text-muted me-2">체크인 :</span><span
                                            class="text-muted me-2">15:00 ▪ 체크아웃 12:00</span></div>
                                    <div class="hotel_price_remove">
                                        <div class="fs-lg text-accent pt-2" id="hotel_price_remove_id">
                                            <span th:text="|숙박 ${#numbers.formatInteger(roomDto.rPrice,3,'COMMA')}원|"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 결제 -->
                        <div class="col-lg-4 col-md-5 pt-3 pt-sm-4 w-100">
                            <div class="rounded-3 bg-light px-3 px-sm-4 py-4 w-100">
                                <div class="text-center mb-4 pb-3 border-bottom">
                                    <h3 class="h5 mb-3 pb-1 text-dark">총액</h3>
                                    <h4 class="fw-normal text-dark" th:text="${#numbers.formatInteger(roomDto.rPrice,3,'COMMA')}+원"></h4>
                                </div>

                                <div th:object="${memberDto}">
                                    <h5>예약자 정보</h5>
                                    <p class="m-1"><span>성명 :</span>
                                        <span th:text="*{name}"></span></p>
                                    <p class="m-1"><span>휴대폰 번호 :</span>
                                        <span th:text="*{phone}"></span></p>
                                </div>

                                <form class="needs-validation" method="post" novalidate>

                                </form>
                                <a class="btn btn-success btn-shadow d-block w-100 mt-4 mb-3" href="#"
                                   onclick="requestPay()"><i class="ci-card fs-lg me-2"></i>결제하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

