<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>

</head>
<body>



                <div class="reservation_page_wrap " layout:fragment="content" >

                    <div class="container  pb-3 ">

                        <div class="rounded-3 shadow-lg mt-4 mb-5">
                            <ul class="nav nav-tabs nav-justified my-1">
                                <li class="nav-item  "><span class="display-3 nav-link fs-lg pt-3 fw-medium active fw-bold" href="#">예약 내역</span></li>

                            </ul>
                            <div class="px-3 px-sm-4 px-xl-5 pt-1 pb-4 pb-sm-5">
                                <div class="row">
                                    <!-- Items in cart-->
                                    <div class="col-lg-8 col-md-7 pt-sm-2 w-100">
                                        <!-- Item-->
                                        <div class="d-sm-flex justify-content-between align-items-center mt-3 mb-4 py-3  border-top border-bottom">
                                            <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="#"><img src="/imgs/hotels/hotel1.png" id="hotel_picture" width="200px" height="140px" alt="hotel image"></a>                                                <div class="pt-2">
                                                    <h3 class="product-title fs-base mb-2"><a href="#" style="text-decoration: none; color:  black" th:text="|${hotelDto.htName} ${hotelDto.htAddress} - ${roomDto.rName}|">나중에 클릭하면 해당 호텔 정보 페이지로 넘어가게 해야됨</a></h3>
                                                    <div class="fs-sm"><span class="text-muted me-2" th:text="|${#dates.format(roomDto.rCheckin, 'yyyy-MM-dd')} / ${#dates.format(roomDto.rCheckout, 'yyyy-MM-dd')} - ${diff}박|"></span></div>
                                                    <div class="fs-sm"><span class="text-muted me-2">체크인 :</span><span class="text-muted me-2">15:00 ▪ 체크아웃 12:00</span></div>
                                                    <div class="hotel_price_remove">
                                                    <div class="fs-lg text-accent pt-2" id="hotel_price_remove_id">
                                                        <span th:text="|숙박 ${roomDto.rPrice}원|"></span>
                                                        <button class="btn btn-link px-0 py-0 text-danger" type="button">삭제</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    <!-- 결제 -->
                                    <div class="col-lg-4 col-md-5 pt-3 pt-sm-4 w-100">
                                        <div class="rounded-3 bg-light px-3 px-sm-4 py-4 w-100">
                                            <div class="text-center mb-4 pb-3 border-bottom">
                                                <h3 class="h5 mb-3 pb-1 text-dark">총액</h3>
                                                <h4 class="fw-normal text-dark" th:text="|${roomDto.rPrice}원|"></h4>
                                            </div>


                                            <div th:object="${memberDto}">
                                                <h5>예약자 정보</h5>
                                                <p class="m-1"><span>성명 :</span>
                                                <span th:text="*{name}"></span></p>
                                                <p class="m-1"><span>휴대폰 번호 :</span>
                                                <span th:text="*{phone}"></span></p>
                                            </div>

                                            <form class="needs-validation" method="post" novalidate>

                                            </form><a class="btn btn-success btn-shadow d-block w-100 mt-4 mb-3" href="#" onclick="requestPay()"><i class="ci-card fs-lg me-2"></i>결제하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                </div>



</body>


