<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<body>
<div layout:fragment="content">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
        function cancelPay() {
            jQuery.ajax({
                // 예: http://www.myservice.com/payments/cancel
                "url": "/reservation/cancel/"+window.document.querySelector('.resId').textContent,
                "type": "POST",
                "contentType": "application/json",
                "data": JSON.stringify({
                    "merchant_uid": window.document.querySelector('.resId').textContent, // 예: ORD20180131-0000011
                    "cancel_request_amount": window.document.querySelector('.resPrice').textContent, // 환불금액
                    "reason": "테스트 결제 환불", // 환불사유
                    // [가상계좌 환불시 필수입력] 환불 수령계좌 예금주
                    "refund_holder": window.document.querySelector('.memberName').textContent
                    // [가상계좌 환불시 필수입력] 환불 수령계좌 은행코드(예: KG이니시스의 경우 신한은행은 88번)
                    // "refund_bank": "88"
                    // [가상계좌 환불시 필수입력] 환불 수령계좌 번호
                    // "refund_account": "56211105948400"
                }),
                "dataType": "json"
            }).done(function(result) { // 환불 성공시 로직
                alert("환불 성공");
                window.location.reload();
            }).fail(function(error) { // 환불 실패시 로직
                alert("환불 실패");
            });
        }
    </script>

    <h1>예약내역페이지</h1>
    <div th:each="r : ${reservation}">
        예약번호 : <span class="resId" th:text="${r.getResId()}"></span><br>
        호텔명 : <span th:text="${hotelDto.getHtName()}"></span><br>
        객실명 : <span th:text="${roomDto.getrName()}"></span><br>
        업체연락처 : <span th:text="${hotelDto.getHtPhone()}"></span><br>
        회원명 : <span class="memberName" th:text="${memberDto.getName()}"></span><br>
        예약날짜 : <span th:text="${#dates.format(r.getResDate(), 'yyyy-MM-dd')} +' '+ ${#dates.dayOfWeekNameShort(r.getResDate())}"></span><br>
        숙박날짜 : <span th:text="|${#dates.format(r.roomRCheckin, 'yyyy-MM-dd')} ${#dates.dayOfWeekNameShort(r.roomRCheckin)} ~ ${#dates.format(r.roomRCheckout, 'yyyy-MM-dd')} ${#dates.dayOfWeekNameShort(r.roomRCheckout)} ${#dates.day(r.roomRCheckout) - #dates.day(r.roomRCheckin)}박|"></span><br>
        예약상태 : <span th:if="${r.getResState()} == 1" th:text="예약완료"></span>
        <span th:unless="${r.getResState()} == 1" th:text="예약마감"></span><br>
        결제금액 : <span class="resPrice" th:text="${r.getResPrice()}"></span><br>
        <button th:if="${r.getResState() == 1}" th:text="예약취소" onclick="cancelPay()"></button>
        <br>
    </div>
</div>
</body>
</html>