<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>객실 등록</title>
    <style>
        td{ text-align: center;}
        .oriImg {width: 400px; height: 300px;}
    </style>
</head>
<body>
<header>
    <h1> 객실 게시판</h1>
</header>
<form role="form" >
    <table>
        <tr><th>호텔코드</th><th>사진</th><th>객실이름</th><th>객실가격</th><th>이용인원</th><th>체크인 시간</th><th>체크아웃 시간</th></tr>

        <tr th:each="list : ${list}">

            <td th:text="${list.hotelHtId}"></td>
            <td>
                <img th:src="${list.rImg}" class="oriImg">
            </td>
            <td th:text="${list.rName}"></td>
            <td th:text="${list.rPrice}"></td>
            <td th:text="${list.rCnt}"></td>
            <td th:text="${list.rCheckin}"></td>
            <td th:text="${list.rCheckout}"></td>


        </tr>
    </table>
</form>
</body>
</html>